<section>
  <div class="container">
    <div class="about">
      <div class="about-details" appFade="up" [delay]="200">
        <h2>About Me</h2>
        <h3 class="subtitle">An enthusiastic Mobile Application Developer based in Canada</h3>
        <p class="first-desc">Welcome to my Portfolio! I'm Krish Patel, a highly motivated and skilled application developer with a passion for crafting efficient, scalable, and robust software solutions. With 1.5 years of experience in the industry, I thrive in dynamic environments where innovation and collaboration are key.  
<br><br>
        <b>Technical Expertise:</b> My expertise lies in software development, covering a diverse range of technologies, including Java, Kotlin, Swift, Dart (Flutter), and React Native. I am proficient in cross-platform development frameworks like Flutter and React Native, as well as native app development for Android and iOS. 
          </p>
           
      </div>
    </div>
  </div>
</section>
