<section>
  <div class="container">
    <h2>Experience</h2>
    <div class="experience">
      <div class="experience-card" appFade="up" style="flex-wrap: wrap;">
        <div class="experience-card-info" style="width: 30%; flex: none;">
          <h3 class="experience-card-info-title">Software Developer</h3>
          <span class="experience-card-info-date">Fusion Computing</span>
          <span class="experience-card-info-date">July 2023 - Jan 2024</span>
          <div>
            <span class="experience-card-info-badge">Toronto, ON.</span>
          </div>
        </div>
        <div class="experience-card-details" style="width: 70%; flex: none; margin-bottom: 2vw;">
          <h3 class="experience-card-details-title">Role and Responsibilities</h3>
          <p class="resume-p-tag" >•	Focusing on delivering high quality software according to customer requirement.</p>
          <p class="resume-p-tag" >•	Utilize technology to optimize to solve bugs for client software.</p>
          <p class="resume-p-tag" >•	Prioritized customer satisfaction through active feedback, resulting in increased positive reviews and 
            enhanced loyalty toward company. </p>
            <p class="resume-p-tag" >•	Fostered positive team culture emphasizing open communication and ensuring an efficient 
              development team.  </p>
          
          
        </div>
        
        
        
        
        
        
        
      </div>
      
      
    </div>
    <hr>
    <h2>Education & Skills</h2>
    <div class="education-skill">
      <div class="education" appFade="up">
        <div class="education-card">
          
          <h3 class="education-title">Advance Diploma In mobile application development</h3>
          <span class="education-institute">St clair college Windsor</span><br>
          <span class="education-date">2023-2026</span>
        </div>
        <div class="education-card">
          
          <h3 class="education-title">Bachelor in Information & Technology</h3>
          <span class="education-institute">Sankalchand Patel University (SPU)</span><br>
          <span class="education-date">2018-2022</span>
        </div>
        
      </div>
      <div class="skill" appFade="up" [delay]="200"> 
        
        <div class="grid">
          <div class="skill-card">
          
            <div class="skill-info">
              <img ngSrc="assets/img/java.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Java</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/python.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Python</h4>
              </div>
            <div class="skill-info">
              <img ngSrc="assets/img/c.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">C/C++</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/linux-22615.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Linux</h4>
            </div>
          </div> 
          <div class="skill-card">
          
            <div class="skill-info">
              <img ngSrc="assets/img/spring-boot-logo.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Spring Boot</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/React_Logo_.png" alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">React</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/Angular_logo.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Angular</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/Docker_logo.webp" alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Docker</h4>
            </div>
          </div>
          <div class="skill-card">
            <div class="skill-info">
              <img ngSrc="assets/img/Mongodb.png"  alt="Logo" width="50" height="80" priority>
            <h4 class="skill-title">NoSQL</h4>
          </div>
            <div class="skill-info">
              <img ngSrc="assets/img/mysql.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">MySQL</h4>
            </div>
             
            <div class="skill-info">
              <img ngSrc="assets/img/azure.png" alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Azure</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/aws-logo.png" alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">AWS</h4>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <hr>
    <h2>Certifications</h2>
    <div class="education" appFade="up">
      <div class="education-card">
        
        <h3 class="education-title certificate-title">Agile Project Management | <a href="https://www.life-global.org/certificate/ae994d00-1d27-40e9-acd1-873c58e84699" style="font-weight: 100; color: #334155;">Credential URL</a></h3>
        
       

      </div>
      
      
    </div>
  </div>
</section>
